@font-face {
  font-family: "gtFont";
  src: url("GT-Walsheim-Regular.woff") format('woff');
}

body {
  background: #01b69b;
  color: white;
  font-family: 'gtFont';
}

.container {
  background-color: #01b69b;
  width: 400px;
  height: 200px;
  position: relative;
  margin-left: 2.5em;
  margin-right: -10em;
  color: #444;
  display:inline-block
}

.container--hidden {
  width: 0;
  height: 0;
  text-indent:-9999px;
}

.divider {
  border: none;
  height: 0.05em;
  background-color: white;
  width: 90%;
}

.header {
  background-color: white;
  padding: 0.6em;
  margin: -0.6em;
  padding-left: 5.8em;
  width: 100%;
}

.footer {
  text-align: center;
  transform: scale(1.5);
  padding: 1.2em;
  /*border-top-style: solid;
  border-top-color: white;
  border-top-width: 0.1em;
  */
}


#percent1,
#percent2,
#svg1, #svg2 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}



#percent1, #percent2 {
  line-height: 20px;
  height: 20px;
  top: 90px;
  font-size: 43px;
  text-align: center;
  color: white;
  opacity: 0.8;
}

#dataContainer {
  margin-left: 5em;
  max-height: 30em;
}

#dialsTable {
  margin-left: -4em;
}

#latestMail {
  position: relative;
  top: -27em;
  left: 32em;
}

#logoFooter {
  opacity: 0.26;
}

p,
.btn {
  position: relative;
  left: 220px;
  width: 200px;
  display: hidden;
  text-transform: uppercase;
  font-size: 24px;
  top: 30px;
}

.btn {
  text-align: center;
  background: #5fc2af;
  color: #fff;
  width: 120px;
  height: 37px;
  line-height: 37px;
  cursor: pointer;
}

input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #eee;
  width: 30px;
  font-family: helvetica;
  font-size: 24px;
  text-transform: capitalise;
  font-family: 'Share Tech', sans-serif;
  background: transparent;
}
